name: Terraform Stage

on:
  pull_request:
    branches:
      - main
    paths:
      - 'envs/stage/**'
      - 'modules/**'

  push:
    branches:
      - main
    paths:
      - 'envs/stage/**'
      - 'modules/**'

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  terraform-stage:
    name: Stage Plan/Apply
    runs-on: ubuntu-latest
    environment: stage

    defaults:
      run:
        working-directory: ./envs/stage

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_SA }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        if: github.event_name == 'pull_request'
        run: terraform plan -var-file=stage.tfvars -no-color

      - name: Terraform Apply
        if: github.event_name == 'push'
        run: terraform apply -var-file=stage.tfvars -auto-approve
